<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
      <center>
      <table>
        <tr>
          <th width="180px"><center><a href="https://itunes.apple.com/jp/app/2tch/id305982914?l=ja" target="_blank"><object data="{{ site.baseurl }}/assets/2tch.svg" type="image/svg+xml" width="64px"></object></a></center></th>
          <th width="180px"><center><a href="https://itunes.apple.com/jp/app/aakibodo/id964182815?mt=8" target="_blank"><img src="{{ site.baseurl }}/assets/aakeyboard.png" alt="Responsive across devices" class="img-responsive" width="64px"></a></center></th>
        </tr>
        <tr style="font-size:small;">
          <td><center>iOS用2ちゃんねるビューア</center></td>
          <td><center>iOS用AAキーボード</center></td>
        </tr>
        </table>
      </center>
    </div>
    {% include footer.html %}

    </body>
</html>