<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
      <center>
        <div id="ad"></div>
        <script type="text/javascript">
          if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
            document.getElementById("ad").innerHTML = "<iframe src=\"//banners.itunes.apple.com/banner.html?partnerId=&aId=11l7gF&bt=genre&t=genre_matrix_black&ft=topfreeapplications&st=apps&s=36&p=27&c=jp&l=ja-JP&w=300&h=250\" frameborder=0 style=\"overflow-x:hidden;overflow-y:hidden;width:300px;height:250px;border:0px\"></iframe>";
          }
          else {
            document.getElementById("ad").innerHTML = "<iframe src=\"//banners.itunes.apple.com/banner.html?partnerId=&aId=11l7gF&bt=genre&t=genre_matrix_black&ft=topfreeapplications&st=apps&s=36&p=27&c=jp&l=ja-JP&w=728&h=90\" frameborder=0 style=\"overflow-x:hidden;overflow-y:hidden;width:728px;height:90px;border:0px\"></iframe>"
          }
        </script>
      </center>
    </div>
    {% include footer.html %}

    </body>
</html>